<%= simple_form_for(@wish) do |f| %>
  <%= f.input :name, label: 'Nom du souhait', required: false %>
  <%= f.input :category, label: 'Catégorie', 
                         required: false,
                         collection: @categories %>
  <%= f.input :position, label: 'Position du souhait', 
                         required: false, 
                         as: :range,
                         input_html: { min: '0', max: '20', 
                         value: '0', class: "slider", 
                         id: "myRange" } %>
  <p>
    <a href="#faq"><i class="fas fa-question"></i></a> 
    Position sélectionnée: <span id="wish-position"></span>
    </p>
  <%= f.button :submit, 'Ajouter mon souhait', class: 'btn-santa', id:'form-btn' %>
<% end %>

<div id="faq" class="container">
  <h3>Foire aux questions - Souhait</h3>
  <a href="<%= faq_path %>">Consulter la FAQ complète</a><br>
  <div class="faq-wish">
    <p><strong>Qu'est-ce qu'une <em>position du souhait</em> ?</strong></p>
    <p>Une position du souhait te permet de placer chaque souhait de ta liste dans l'ordre que tu veux, pour que Père Noël et ses lutins puissent savoir ce que tu veux le plus ! <br><br> <strong>Note</strong> : Si tu laisses le Père Noël du glisseur à la position 0, le souhait n'aura pas de position, mais sera tout de même enregistré. </p>
  </div>

</div>