<% if edit_wish_path.include?("#{@wish.id}") %>
  <% label = "Mettre à jour" %>
  <% value = @categories.select { |category| category == @wish.category } %>
<% else %>
  <% label = "Ajouter" %>
  <% value = "" %>
<% end %>

<%= simple_form_for(@wish) do |f| %>
  <%= f.input :name, label: 'Nom du souhait', required: false %>
  <%= f.input :category, label: 'Catégorie', 
                        required: false,
                        collection: @categories,
                        selected: value %>
  <%= f.input :position, label: 'Position du souhait', 
                        required: false, 
                        as: :range,
                        input_html: { min: '0', max: '20', 
                        value: '0', class: "slider", 
                        id: "myRange" } %>
  <p>
    <a href="#faq"><i class="fas fa-question"></i></a> 
    Position sélectionnée: <span id="wish-position"></span>
  </p>
  <div class="d-flex justify-content-between align-items-center">
  <%= f.button :submit, label, class: 'btn-santa', id:'form-btn' %>
  <% if edit_wish_path.include?("#{@wish.id}") %>
    <%= link_to 'Supprimer', wish_path(@wish), method: :delete, class: 'btn btn-santa', message: 'Are you sure?' %>
  <% end %>
  </div>
<% end %>
