<div class="form-banner d-flex justify-content-around align-items-center">
  <%= render 'shared/back_btn'%>
  <%= image_tag asset_path('santa.svg') %>
  <%= image_tag current_user.avatar %>
</div>

<div class="d-flex justify-content-center flex-column align-items-center">
  <div class="container login-form d-flex justify-content-center flex-column align-items-center">
  <h2>Mettre à jour un souhait</h2>

  <div>
  <%= render 'form'%>
  </div>

  <div id="faq" class="container">
    <h3>Foire aux questions - Souhait</h3>
    <a href="<%= faq_path %>">Consulter la FAQ complète</a><br>
    <div class="faq-wish">
      <p><strong>Qu'est-ce qu'une <em>position du souhait</em> ?</strong></p>
      <p>Une position du souhait te permet de placer chaque souhait de ta liste dans l'ordre que tu veux, pour que Père Noël et ses lutins puissent savoir ce que tu veux le plus ! <br><br> <strong>Note</strong> : Si tu laisses le Père Noël du glisseur à la position 0, le souhait n'aura pas de position, mais sera tout de même enregistré. </p>
    </div>
  </div>

  </div>
</div>
  