<div class="santa-navbar shadow d-flex justify-content-around align-items-center shadow">
  <% if user_signed_in? %>
    <%= link_to root_path do %>
      <%= image_tag asset_path('home.svg') %>
    <% end %>
    <%= link_to user_path(current_user) do %>
      <%= image_tag current_user.avatar %>
    <% end %>
    <%= link_to destroy_user_session_path, method: :destroy do %>
      <%= image_tag asset_path('signout.svg') %>
    <% end %>
  <% else %>
    <%= link_to root_path do %>
      <%= image_tag asset_path('home.svg') %>
    <% end %>
    <%= link_to new_user_session_path do %>
      <p>Sign in</p>
    <% end %>
  <% end %>
</div>