<!--style="background-image:url(<%=asset_path('trees.jpg')%>"-->
<%# Profile top %>
<div class="profile-banner d-flex justify-content-center">
  <%= image_tag @user.avatar, class: 'profile-avatar' %>

  <%# User info card %>
  <div class="user-info-card d-flex justify-content-around">

    <div class="card-left-side">
      <h4><%= @user.name.capitalize %></h4>
      <% age = Date.today.year - @user.birthday.year %>
        <% if age <= 2 %>
          <% age_in_months = (Date.today.year * 12 + Date.today.month) - (@user.birthday.year * 12 + @user.birthday.month) %>
          <p><%= age_in_months %> mois</p>
        <% else %>
          <% age -= 1 if Date.today < @user.birthday + age.years %>
          <p><%= age %> ans</p>
      <% end %>
      <p class="section-label"><strong>Adresse:</strong></p>
      <p class="section-label">123 rue des Enfants</p>
    </div>

    <div class="card-right-side">
      <p class="section-label"><strong>Méthode de livraison</strong></p>
      <p class="section-value">Chimney</p>
      
      <p class="section-label"><strong>Politesse</strong></p>
      <p class="section-value">
        <i class="fas fa-star colored-star"></i>
        <i class="fas fa-star colored-star"></i>
        <i class="fas fa-star colored-star"></i>
        <i class="fas fa-star colored-star"></i>
        <i class="fas fa-star not-colored-star"></i>
      </p>

      <p class="section-label"><strong>Foi en Père Noël</strong></p>
      <p class="section-label">
        <i class="fas fa-star colored-star"></i>
        <i class="fas fa-star not-colored-star"></i>
        <i class="fas fa-star not-colored-star"></i>
        <i class="fas fa-star not-colored-star"></i>
        <i class="fas fa-star not-colored-star"></i>
      </p>
      <p></p>
    </div>
  </div>
    <%= link_to new_wish_path do %>
      <button class="btn btn-santa">Ajouter un souhait</button>
    <% end %>
</div>

<div class="container wishlist">
  <div class="d-flex justify-content-center">
    <h4>Les voeux de <%= @user.name.capitalize %> </h4>
  </div>
  <div class="row d-flex justify-content-around align-items-center">
    <% @user_wishes.each do |wish| %>
      <div class="wish-card">
        <%= image_tag "https://image.flaticon.com/icons/svg/2987/2987881.svg" %>
        <div class="wish-info">
          <% if wish.name.length > 20 %>
            <p><strong><%= wish.name.first(20) %>...</strong></p>
          <% else %>
            <p><strong><%= wish.name %></strong></p>
          <% end %>
          <p id="category">Catégorie : <%= wish.category.name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>