<div class="wish-card">
  <% if wish.position != nil %>
    <div class="wish-num">
      <% if wish.position >= 10 %>
        <h3 class="big-num"><%= wish.position %></h3>
      <% else %>
        <h3 class="small-num"><%= wish.position %></h3>
      <% end %>
    </div>
  <% end %>
  <%= image_tag wish.category.image %>
  <div class="wish-info">
    <p><strong><%= wish.name %></strong></p>
    <p id="category">Catégorie : <%= wish.category.name %></p>
    <% if @user == current_user %>
      <%= link_to edit_wish_path(wish) do %>
        <button class="btn btn-santa" id="plus-wish"><i class="fas fa-pencil-alt"></i></button>
      <% end %>
    <% end %>
  </div>
</div>